<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' https://cdn.jsdelivr.net; style-src 'self'; img-src 'self' https: data:; font-src 'self'; connect-src 'self'; object-src 'none'; base-uri 'self'; frame-ancestors 'none'; upgrade-insecure-requests">
    <meta name="referrer" content="strict-origin-when-cross-origin">

    <meta name="author" content="Aritra Roy Gosthipaty">
    <meta name="description" content="{{site.description | escape}}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% if page.layout == 'post' %}
    <script src="{{ '/assets/js/tocbot.min.js' | relative_url }}" defer></script>
    {% endif %}
    <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
</head>
