<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="{{site.url}}/manifest.json">
    <meta name="author" content="Aritra Roy Gosthipaty">
    <title>ariG23498</title>
    <link rel="icon" href="{{site.url}}/favicon.ico">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
    <script src="{{site.url}}/assets/js/script.js"></script>
    <script src="{{site.url}}/assets/js/tocbot.min.js"></script>
</head>
