---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body>
    <div class="wrapper">
        {%- include header.html -%}
        {% if page.mathjax %}
        <script src="{{ '/assets/js/mathjax-config.js' | relative_url }}"></script>
        <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        {% endif %}
        {{ content }} {%- include footer.html -%}
    </div>
</body>


</html>
