---
layout: default
---

<div class="main">
    <div class="container">
        <div class="intro">
            <div class="avatar"><a href="{{site.url}}/posts"><img src="{{site.url}}/assets/site_images/ariG23498.jpg"></a></div>
            <div class="nickname">Aritra Roy Gosthipaty</div>
            <div class="description">
                <p>I prefer <strong>print</strong> statements to proper <strong>debugging</strong> tools.</p>
            </div>
            <div class="links">
                <a class="link-item" title="Link"
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=aritra.roy.g@gmail.com" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-link"></i>
                </a>
                <a class="link-item" title="LinkedIn" href="https://linkedin.com/in/ariG23498" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-linkedin"></i>
                </a>
                <a class="link-item" title="FaceBook" href="https://facebook.com/ariG23498" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-facebook"></i>
                </a>
                <a class="link-item" title="Twitter" href="https://twitter.com/ariG23498" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-twitter"></i>
                </a>
                <a class="link-item" title="Instagram" href="https://instagram.com/aritra_rg" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-instagram"></i>
                </a>
                <a class="link-item" title="Github" href="https://github.com/ariG23498" target="_blank" rel="noopener">
                    <i class="iconfont icon-github"></i>
                </a>
            </div>
        </div>
    </div>
    <script>"serviceWorker" in navigator && (navigator.serviceWorker.controller ? console.log("[PWA Builder] active service worker found, no need to register") : navigator.serviceWorker.register("pwabuilder-sw.js", { scope: "./" }).then(function (e) { console.log("[PWA Builder] Service worker has been registered for scope: " + e.scope) }))</script>
</div>